@import "tailwindcss";
@import "maplibre-gl/dist/maplibre-gl.css";

@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-6px); }
  100% { transform: translateY(0px); }
}
